<!doctype html>
<html lang="fr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <title>{% block title %}{% endblock %}</title>
    {% load static from staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-responsive.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/app.css' %}">
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
         <div class="container">
          <a class="brand" href="/">Mattlink</a>
          <div class="nav-collapse">
              {% if username %}
                <div class="nav-collapse">
                  <ul class="nav">
                    <li><a href="/user/{{username}}">Profil</a></li>
                  </ul>
                  <ul class="nav pull-right">
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{username|capfirst}}<b class="caret"></b></a>
                      <ul class="dropdown-menu">
                        <li><a href="/logout">Déconnexion</a></li>
                      </ul>
                    </li>
                  </ul>
                  <form class="navbar-search pull-right" action="/search/" method="POST">
                    {% csrf_token %}
                    <input type="text" name="search_term" class="search-query span3" placeholder="Recherche">
                  </form>
                </div>
              {% endif %}
          </div>
         </div>
       </div>
     </div>
  <div class="container">
    <div class="page-header">
    </div>
    <div class="row">
      <div class="span6 offset3">
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-{{message.tags}}"> {# message.tags est dans [success, alert, error, warning, info, debug] #}
            <strong>{{message}}</strong>
          </div>
        {% endfor %}
      {% endif %}
      </div>
    </div>
    
    <div class="row">
      {% block content %}
      {% endblock %}
    </div>
    </div>

    <!-- scripts chargés après la page pour éviter les latences d'affichage -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
  </body>
</html>