{% extends "base.html" %}

{% block title %}Accueil{% endblock %}


{% block content %}
  {% if username %} {# Si l'utilisateur est connecté #}
  
    <!-- Section à gauche : Mes Tags -->
    <div class="span2">
      <h4>Mes tags</h4>
      <div class="well" style="padding: 8px 0;">
        <ul class="nav nav-list">
         <li class="nav-header">Suggestions</li>
          {% for tag in suggested_tags %}
            <li>
              <a href="/tag/{{tag}}">{{tag}}</a>
            </li>
          {% endfor %}

          <li class="nav-header">Favoris</li>
          {% for tag in favorite_tags %}
            <li>
              <a href="/tag/{{tag}}">{{tag}}</a>
            </li>
          {% endfor %}
        </ul>
      </div>

    <h4>Suivis</h4>
    <div class="well" style="padding: 8px 0;">
      <ul class="nav nav-list">
        {% for user in followed_users %}
          <li>
            <a href="/user/{{user}}">{{user}}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
    </div>

    <!-- Section au centre : Participer + Activités récentes -->
    <div class="span6">
      <h4>Participer</h4>
      <div class="well">
        <form method="post" action="newpost/">{% csrf_token %}
          <input class="input-xlarge input-block-level" placeholder="Titre"
          type="text" name="title">
          <textarea id="textarea" class="input-xlarge input-block-level" rows="3"
          placeholder="Contenu" name="content"></textarea>
          <button type="submit" class="btn">Envoyer</button>
        </form>
      </div>
      <h4>Activités récentes</h4>
        {% include "sub_templates/posts.html" %}
    </div>

    <!-- Section à droite : Suggestions publications + personnes -->

    <div class="span4">
      <h4>Contenu intéressant</h4>
       <div class="well" style="padding: 8px 0;">
        <ul class="nav nav-list">
          {% for post in suggested_posts %}
            <li>
              <a href="/post/{{post.id}}">{{post.title}}</a>
            </li>
          {% endfor %}
        </ul>
      </div>

      <h4>Personnes intéressantes</h4>
      <div class="well" style="padding: 8px 0;">
        <ul class="nav nav-list">
         <li class="nav-header">Par tags</li>
          {% for user in suggested_users_by_tags %}
            <li>
              <a href="/user/{{user}}">{{user}}</a>
            </li>
          {% endfor %}

          <li class="nav-header">Par liens</li>
          {% for user in suggested_users_by_links %}
            <li>
              <a href="/user/{{user}}">{{user}}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>

  {% else %} {# Si l'utilisateur n'est pas connecté #}
    <section id="forms">
      <div class="row-fluid">
        <div class="span4 offset2">
          <h2>Connexion</h2>
          <form method="post" action="login/" class="well form-vertical">
            {% csrf_token %}
            <p>
            <input class="input-xlarge input-block-level" type="text" name="username" placeholder="Nom d'utilisateur">
            <input class="input-xlarge input-block-level" type="password" name="password" placeholder="Mot de passe"><br/>
            <button type="submit" class="btn">Connexion</button>
            </p>
          </form>
        </div>

        <div class="span4">
          <h2>Inscription</h2>
          <form method="post" action="subscribe/" class="well form-vertical">
            {% csrf_token %}
            <p>
            <input class="input-xlarge input-block-level" type="text" name="username" placeholder="Nom d'utilisateur">
            <br />
            <input class="input-xlarge input-block-level" type="email" name="email" placeholder="Email">
            <br />
            <input class="input-xlarge input-block-level" type="password" name="password" placeholder="Mot de passe">
            <br />
            <button type="submit" class="btn">Inscription</button>
            </p>
          </form>
        <div>
      </div>
    </section>
  {% endif %}
{% endblock %}
