{% extends "base.html" %}

{% block title %}Connexion{% endblock %}

{% block content %}

<section id="forms">
  <div class="page-header">
  </div>

  <div class="span4 offset4">
    <h2>Connexion</h2>
    <form method="post" action="." class="well form-vertical">
      {% csrf_token %}
      <p>
      <input class="input-xlarge input-block-level" type="text" name="username" placeholder="Nom d'utilisateur">
      <input class="input-xlarge input-block-level" type="password" name="password" placeholder="Mot de passe"><br/>
      <button type="submit" class="btn">Envoyer</button>
      </p>
    </form>
  </div>

</section>
{% endblock %}
