{% extends "base.html" %}

{% block title %}Recherche{% endblock %}


{% block content %}
<h1>Recherche</h1>
    <form class="navbar-search" action="/search/" method="POST">
      {% csrf_token %}
      <input type="text" name="search_term" class="search-query span12" placeholder="Entrez ici le terme recherché">
    </form>
{% endblock %}
