{% extends "base.html" %}

{% block title %}{{tag}}{% endblock %}


{% block content %}
  <div class="span11">
    <h1>#{{tag}}</h1>
  </div>

  <div class="span6">
    <h4>Publications</h4>
    {% include "sub_templates/posts.html" %}
  </div>

  <div class="span2">
    <h4>Personnes</h4>
    {% include "sub_templates/users.html" %}    
  </div>

  <div class="span2">
    <h4>Tags similaires</h4>
    <div class="well" style="padding: 8px 0;">
        <ul class="nav nav-list">
          {% for tag in tags %}
            <li>
              <a href="/tag/{{tag}}">{{tag}}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
  </div>

  <div class="span2">
    <h4>Statistiques</h4>
      {#% include "sub_templates/tags.html" %#}
  </div>
{% endblock %}
