{% extends "base.html" %}

{% block title %}
  Profil de {{user}}
{% endblock %}

{% block content %}
  <div class="span11">
    <h1 style="display:inline" >Profil de {{user}}</h1>
    {% if is_followed %}
      (Suivi)
    {% elif not user == username %}
      (<a href="/user/{{user}}/follow">Suivre</a>)
    {% endif %}
  </div>

  <!-- Section a gauche : Ses tags -->
  <div class="span2">
    <h4>Tags favoris</h4>
    <div class="well" style="padding: 8px 0;">
      <ul class="nav nav-list">
        {% for tag in favorite_tags %}
          <li>
            <a href="/tag/{{tag}}">{{tag}}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <!-- Section au centre : Ses publications -->
  <div class="span6">
    <h4>Publications</h4>
    {% include "sub_templates/posts.html" %}
  </div>

  <!-- Section à droite : Statistiques -->
  <div class="span3">
    <h4>Statistiques</h4>
    <div class="well">
    </div>

    <h4>Suivis</h4>
    <div class="well" style="padding: 8px 0;">
      <ul class="nav nav-list">
        {% for user in followed_users %}
          <li>
            <a href="/user/{{user}}">{{user}}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}
