{% if posts %}
{% for post in posts %}
  <div class="well">
    <div class="row">
      <div class="span5">
        <h5>{{post.title}}</h5>
        <p>{{post.content}}</p>
        <small class="pull-right">
          <a href="/user/{{post.get_owner}}">{{post.get_owner}}</a>
          {{ post.date|date:"SHORT_DATE_FORMAT" }}, {{post.date|date:"H:i"}}
        </small>
        {% if post.liked %}
          Like
        {% else %}
          <a href="/like/{{post.id}}/">Like</a>
        {% endif %}
        <small>({{post.nb_like}})</small>
          -
        {% if post.disliked %}
          Dislike
        {% else %}
          <a href="/dislike/{{post.id}}/">Dislike</a> 
        {% endif %}
        <small>({{post.nb_dislike}})</small>
      </div>
    </div>
  </div>
{% endfor %}
{% else %}
  <div class="well">
    <div class="row">
      <div class="span5">
        <p>Pas de publication</p>
      </div>
    </div>
  </div>
{% endif %}