<div class="well" style="padding: 8px 0;">
    <ul class="nav nav-list">
      {% for user in users %}
        <li>
          <a href="/user/{{user}}">{{user}}</a>
        </li>
      {% endfor %}
    </ul>
</div>